.micro-section { padding-top:15px; padding-bottom: 15px; clear: both; }
.minor-section { padding-top:25px; padding-bottom: 25px; clear: both; }
.major-section { padding-top:50px; padding-bottom: 50px; clear: both; }